@{
    ViewData["Title"] = "Confirmação de recuperação de senha";
    ViewBag.HideHeader = true;
    ViewBag.HideFooter = true;
    ViewBag.HideBorder = true;
}

<div id="loginPage">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <section id="loginForm">
                    @using (Html.BeginForm("ForgotPasswordConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                    {
                        <div class="login-container">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div>
                                            <h2>Por favor, verifique seu e-mail para recuperar sua senha.</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
</div>
